<div class="container my-5">
     <div class="d-flex align-items-center">
        <select class="form-select form-select-lg mb-3"  [(ngModel)]="selectedCategory" #catdropdown >  
            <option *ngFor="let category of  categoriesList" [value]="category.id">
                {{category.Name}}</option>
        </select>
    </div> 
 
    <div class="row">

        <app-products-view [sentCatIDFrmMaster]="selectedCategory"
        (addItemToshoppingCartItems)="addItemToshoppingCartItems($event)">
        
    </app-products-view>
</div>

    
    <div class="" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="">
            <div class="">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Cart</h5>
          
                </div>
                <div class="modal-body">
                    <p class="card-text"><span class="text-info">Total Price: </span> {{totalPrice|currency: "EGP":"symbol"}}</p>
                
                    <div class=" py-5 d-flex flex-wrap justify-content-evenly">
                        <div *ngFor="let product of cartItems" style="width: 10rem;">
                            <div *ngIf="product.selectedQuantity!=0" class="card my-3 " appRounded>
                                <img class="card-img-top " src={{product.productImg}} alt="Card image cap"
                                    style="width:10rem; height:10rem">
                                <div class="card-body">
                                    <p class="card-text"><span class="text-info">Name: </span> {{product.productName}}
                                    </p>
                                    <p class="card-text"><span class="text-info">Price: </span>{{product.unitPrice
                                        |currencyTransform
                                        |currency: "EGP":"symbol"}}</p>
                                    <p class="card-text"><span class="text-info">Quantity: </span>
                                        {{product.selectedQuantity}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

