
<div class=" py-5 d-flex flex-wrap justify-content-evenly">

    <div [hidden]="show" *ngFor="let product of prdsList" style="width: 15rem;">
        <div class="card my-3 " appRounded
            [ngClass]="{'bg-warning': product.Quantity == 1 , 'd-none ' :  product.Quantity == 0 }">
            <img class="card-img-top mx-3" src={{product?.ImgURL}} alt="Card image cap"
                style="width:13rem; height:15rem">
            <div class="card-body">
                <p class="card-text"><span class=" fw-bold">Name: </span> {{product?.Name}}</p>
                <p class="card-text"><span class=" fw-bold">Product ID: </span> {{product?.id}}</p>
                <p class="card-text"><span class="fw-bold">Price: </span>{{product.Price |currency: "EGP":"symbol"}}</p>
                <p class="card-text"><span class=" fw-bold">Available Quantity: </span> {{product?.Quantity}}</p>
                
                
                <p class="card-text"><span class=" fw-bold">Category ID: </span> {{product?.CategoryID}}</p>
                <div class="form-outline my-2">

                    <div class="form-control">
                        <label class="form-label text-primary fw-bold" for="typeNumber">Quantity Needed:</label>
                        <div class="d-flex justify-content-between my-2">
                            <button class="btn btn-primary px-4 fw-bold " (click)="increase(boughtCount,product)">+</button>
                            <button class="btn btn-primary px-4 fw-bold" (click)="decrease(boughtCount,product)">-</button>
                        </div>
                        <input type="number" id="typeNumber" min="0" class="form-control m-1" #boughtCount />
                        <div class="details">
                            <a name="" id="" class="btn btn-primary  ms-5" [routerLink]='["/product",product?.id,prdsList.length]' role="button">Details</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div>
        <div [hidden]="!show" class="alert py-2 alert-info  mx-auto my-auto" role="alert">
            <p>{{greating}}</p>
        </div>
    </div>
</div>
