
<div class="container bg-light text-center  p-5">
  <div class="card" style="width: 18rem; margin: auto;" >
    <img class="card-img-top" [src]="prod?.ImgURL" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><span class=" fw-bold">Name: </span> {{prod?.Name}}</p>
      <p class="card-text"><span class=" fw-bold">Product ID : </span> {{prod?.id}}</p>
      <p class="card-text"><span class=" fw-bold">Price: </span>{{prod?.Price }}</p> 
      <p class="card-text"><span class=" fw-bold">Available Quantity: </span> {{prod?.Quantity}}</p>
      
      <p class="card-text"><span class=" fw-bold">Category ID: </span> {{prod?.CategoryID}}</p>
      <div class="form-outline my-2">
        <button class="btn btn-primary m-1" [disabled]="sentprdID==1" (click)="prevprodcut()">Prev </button>
        <button class="btn btn-primary m-1" [disabled]="sentprdID==prdslength"(click)="nextprodcut()">Next </button>
        <br>
        <button class="btn btn-secondary" (click)="goback()">Back</button>
      </div>
  </div>
  </div>
</div>